.login-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    

    background-color:    #031d39; 
    color: black; /* White text */
    width: 100%;
    min-height: 98vh;

}

.login-form {
    background-color: #eee;
    padding: 25px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}